Makefile
config/
config.*
autom4te.cache/
configure.ac~
configure~

*.o
*.a
*.po

.DS_Store
*xcuserdata*
*.dirstamp
.deps/

examples/clock/unix/upnpclock
examples/tv/unix/upnptv
examples/upnpdump/unix/upnpdump
stamp-h2
